<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RockBLOCK Relay</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='ext/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='ext/css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/rockblock_relay.css') }}" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>


        {#
            <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        #}
    </body>
</html>
